@use 'styles/utils/mixins';
@import 'styles/utils/variables';

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;

  @include mixins.mq(tablet) {
    flex-direction: row;
  }
}

.photo-card {
  width: 100%;
  height: auto;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  position: relative;

  @include mixins.mq(tablet) {
    width: calc((100% - 2 * 20px) / 2);
  }

  @include mixins.mq(desktop) {
    width: calc((100% - 2 * 20px) / 3);
    position: relative;
    overflow: hidden;

    &:hover .card__img {
      transform: scale(1.05);
    }
  }
}

.img-container {
  width: 100%;
  height: 100%;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.7s ease-in-out;
}

// OVERLAY
.card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: rgba(0, 0, 0, 0.7);
  text-align: left;
  transition: transform 0.7s ease-in-out;
  visibility: hidden;

  .photo-card:hover & {
    transform: translateX(0);
    visibility: visible;
    cursor: pointer;
  }
}

.card__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: get-color('light');
  padding: 20px;
}

.card__content {
  font-size: 18px;
  line-height: 1.56;
  color: get-color('light');
  padding: 20px;
}

.box {
  display: none;
  transition: background-color 0.3s ease-out;

  position: absolute;
  width: 80%;
  height: 60%;
  background-color: transparent;
  color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Poppins';
}
