@use 'styles/utils/mixins';
@import 'styles/utils/variables';

.list-stages {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include mixins.mq(tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.list__item {
  margin-bottom: 1.2rem;
  text-align: center;
  padding: 2rem;

  background-color: get-color('white');
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.3);
  transition: transform 0.3s ease-out;

  &:hover {
    transform: translateY(-10px);
  }

  @include mixins.mq(tablet) {
    width: calc((100% - 2rem) / 2);
  }

  @include mixins.mq(desktop) {
    width: calc((100% - 6rem) / 4);
  }
}

.list__icon {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1rem;
}

.item__heading {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}
