@import 'styles/utils/variables';

.button {
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: background-color 0.3s ease;
  display: inline-block;

  height: 40px;
  width: fit-content;
  background-color: get-color('accent');
  border: none;
  color: get-color('white');

  &:hover {
    background-color: get-color('dark');
  }
}
