@use 'styles/utils/mixins';
@use 'styles/utils/variables';

.bar-container {
  background-color: variables.get-color('body');
}

.bar {
  color: variables.get-color('dark');

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  @include mixins.mq(tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.list {
  @include mixins.flex(center, flex-start);
  gap: 1rem;

  @include mixins.mq(tablet) {
    gap: 4rem;
  }
}

////////// CONTACTS LIST //////////
.contact-list {
  @extend .list;
  flex-direction: column;

  @include mixins.mq(tablet) {
    flex-direction: row;
    gap: 4rem;
  }

  &__content {
    @include mixins.flex(center, center);
  }

  &__icon {
    margin-right: 10px;
  }
}

////////// SOCIAL LINKS LIST //////////
.social-links {
  @extend .list;

  &__link {
    @include mixins.flex(center, center);

    color: variables.get-color('dark');
    transition: transform 0.3s ease;
    font-size: 1.5rem;

    &:hover {
      transform: scale(1.1);
    }
  }
}
