@use 'styles/utils/mixins';
@use 'styles/utils/variables';

.address__item:not(:last-child) {
  margin-bottom: 10px;
}
.address__link {
  font-style: normal;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: variables.get-color('dark');
  }
}

.list {
  &__content {
    @include mixins.flex(flex-start, center);
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.icon {
  margin-right: 10px;
  color: variables.get-color('dark');
}
