@use 'styles/utils/mixins';
@import 'styles/utils/variables';

.wp-post {
  background-color: fet-color('white');
  padding: 2rem;

  h2 {
    margin: 1rem 0 2rem;
  }

  p,
  ul,
  ol {
    line-height: 2rem;
    margin: 0 4rem;
  }

  hr {
    border: none;
    height: 3px;
    background-color: get-color('primary');
    margin-bottom: 2rem;
  }

  img {
    width: 100%;
    height: auto;
    display: block;

    @include mixins.mq(tablet) {
      width: 70%;
      margin: 2rem auto;
    }
  }
}
