@use 'styles/utils/mixins';
@use 'styles/utils/variables';

.footer {
  &__page {
    background-color: variables.get-color('light');
    padding: 2rem 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;

    @include mixins.mq(desktop) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__heading {
    font-size: 1rem;
    font-weight: normal;
    color: variables.get-color('gray');
    font-weight: 600;
  }

  &__text {
    font-size: 1rem;
    font-weight: 700;
    color: variables.get-color('dark');
    margin-bottom: 0.4rem;
  }
}

.box {
  color: variables.get-color('gray');
  font-weight: 600;
  line-height: 1.4rem;
}

.list {
  &__content {
    @include mixins.flex(flex-start, center);
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.logo {
  height: 50px;
}

.copyright {
  text-align: center;
  color: variables.get-color('gray');
}
