@use 'styles/utils/mixins';
@use 'styles/utils/variables';

.hero {
  background-image: url('/assets/images/hero.jpg');
  height: 50vh;

  @include mixins.mq(tablet) {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
  }
}

///// INTRO /////

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background-color: #fff;
  padding: 2rem;

  @include mixins.mq(desktop) {
    flex-direction: row;
  }

  &__container {
    padding: 2rem 0;
  }

  &__heading {
    margin-bottom: 2rem;
    line-height: 2rem;
  }

  &__text {
    @include mixins.flex(center, center);
    flex-direction: column;
    line-height: 1.4rem;

    & p {
      text-indent: 2rem;
    }
  }

  &__img {
    display: block;
    object-fit: cover;
    width: 100%;

    @include mixins.mq(tablet) {
      width: 400px;
      height: auto;
    }
  }
}

///// SEKCJA ETAPY /////
.stages-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stages-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/images/stage.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  //   filter: blur(20px);
  z-index: -1;
}

///// COMMON STYLES /////
.center {
  display: inline-block;
  text-align: center;
}
